.DS_Store
*.dSYM
/C_stuff/main.dSYM
/C_stuff/external
/C_stuff/asciiart
emsdk
node_modules
frontend/scripts/a.out*
package-lock.json
.header_files
C_stuff/external/
frontend/style.css
frontend/scripts/tailwind-browser.js
frontend/node_modules
frontend/a.out.js
frontend/a.out.wasm
C_stuff/stb_impl.c.js.o
.vscode/tasks.json
C_stuff/main.c.o
C_stuff/stb_impl.c.o
C_stuff/main.c.js.o
.vscode/settings.json
tailwind.config.js
